body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: radial-gradient(
    circle,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

main {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.background-div {
  height: 500px;
}

input,
button,
select {
  border-radius: 6px;
  border: 1px solid #9ca3af;
}

input[type="color"] {
  height: 50px;
  width: 100px;
}

select {
  width: 100%;
}

button {
  width: 200px;
  background-color: white;
}

.color-wrapper-div {
  width: 100%;
  text-align: center;
}

#container p,
input,
button {
  cursor: pointer;
}

#clipboard-section p {
  width: max-content;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 6px;
}

@media (width < 770px) {
  #container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
    margin-top: 1rem;
  }

  .background-div {
    height: 200px;
  }
}
